.first {
    font-size: 20px;
}
.container {
    display: flex;
}
.container h1 {
    font-size: 70px;
}
p {
    font-size: 20px;
}
img {
    width: 500px;
    height: 500px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 70px;
    padding-bottom: 30px;
}
.second {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 50px;
}
.column {
    display: table-column;
    font-family: 'Sofia Sans', sans-serif;
    padding-top: 50px;
    padding-left: 50px;
    justify-content: flex-end;
}
button {
    background-color: black;
    color: white;
    width: 200px;
    height: 60px;
}
footer {
    align-items: baseline;
    text-align: center;
}
footer p {
    font-size: 10px;
    display: block;
}